@page
@using System.Runtime.InteropServices
@using System.IO
@using System.Diagnostics
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var process = Process.GetCurrentProcess();
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET Core on DigitalOcean App Platform</h1>

    <h5>Environment</h5>
    <p>@RuntimeInformation.FrameworkDescription</p>
    <p>@RuntimeInformation.OSDescription</p>
</div>

<div>
    <h5 class="text-center">Metrics</h5>
    <table width="500" align="center" class="table-striped table-hover">
        <tr>
            <td>Containerized</td>
            <td>@(Environment.GetEnvironmentVariable("DOTNET_RUNNING_IN_CONTAINER") is object ? "true" : "false")</td>
        </tr>
       
    
    </table>
</div>
<div class="text-center">
    <br />
    <p>To deploy this app yourself, follow the instructions here: <a href="https://github.com/creativefisher/aspnetcoresample">https://github.com/creativefisher/aspnetcoresample</a></p>
    <p>You can sign up for a DigitalOcean account using the link below and receive a $100, 60-day credit to get started:</p>
    <a href="https://www.digitalocean.com/?refcode=928215b6ed22&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" /></a>
</div>
